.footer{
    background-color: var(--primary);
    color: var(--OnPrimrary);
    text-align: center;
    padding: 1vw 3vw;
    font-size: 1em;
}

a{
    color: var(--OnPrimrary);
    text-decoration: none;
}