<div class="heading">Ajmera Art House</div>
<div class="info">
    Drawing is the artistic expression of creating visuals using various tools, such as pencils, brushes, or digital mediums. It captures imagination, emotions, and reality through lines, shapes, and shading. Calligraphy, on the other hand, is the art of beautiful handwriting, where skilled strokes form elegant and harmonious letterforms.
</div>
<div class="section">
    <div class="section-heading">Drawing</div>
    <div class="section-info">Our drawing class is designed to enhance your artistic skills and unleash your creativity. Whether you're a beginner or an experienced artist looking to refine your techniques, this class will provide you with a solid foundation in drawing. <br>
        Throughout the course, you will learn various drawing techniques, such as shading, perspective, composition, and proportions. We will explore different subjects, including still life, landscapes, portraits, and more. You will also have the opportunity to experiment with different drawing mediums, such as pencils, charcoal, ink, and pastels. <br>
        Our experienced instructors will guide you through step-by-step demonstrations, offer personalized feedback, and provide constructive critiques to help you improve your drawing skills. You will also engage in practical exercises and projects to apply what you've learned and develop your unique artistic style.<br>
        Whether your goal is to pursue a career in art or simply enjoy drawing as a hobby, this class will equip you with the fundamental skills and knowledge needed to create captivating and expressive drawings.
    </div>
</div>
<div class="section">
    <div class="section-heading">Calligraphy</div>
    <div class="section-info">Join our calligraphy class and discover the timeless art of beautiful writing. This class is perfect for anyone interested in learning the art of calligraphy, from beginners who have never picked up a calligraphy pen to more experienced individuals looking to refine their skills.<br>
        Throughout the course, you will be introduced to various calligraphy styles, including traditional scripts like Copperplate, Spencerian, and Gothic, as well as modern interpretations and decorative lettering. You will learn how to hold and handle a calligraphy pen, understand the basic strokes, and practice letterforms.<br>
        Our experienced calligraphers will guide you through demonstrations, provide hands-on exercises, and offer personalized feedback to help you develop precision and grace in your writing. You will also learn about the principles of layout, spacing, and composition to create visually appealing calligraphy compositions.<br>
        As you progress, you will have the opportunity to work on more complex projects, such as designing invitations, addressing envelopes, creating personalized artwork, and exploring different surfaces and inks.<br>
        By the end of the course, you will have acquired the skills and knowledge to create stunning calligraphy pieces, whether it's for personal projects, special occasions, or professional applications. Join us and unlock the artistry of beautiful writing with calligraphy.
    </div>
</div>
<div class="info">
    Our drawing and calligraphy class offers a unique blend of artistic expression and precise craftsmanship. Dive into the world of visual creativity, mastering the art of capturing moments on paper through lines, shapes, and shading. Additionally, learn the elegant strokes and graceful letterforms of calligraphy, unlocking the beauty of handwritten communication. <br>
Join us on a transformative journey of artistic growth and self-discovery.

</div>
<app-footer></app-footer>