<div class="heading">Vedic Maths</div>
<div class="info">
    Vedic mathematics is a system of mathematics that originated in ancient India, based on the Vedas, which are ancient Hindu scriptures. Vedic mathematics offers various techniques and shortcuts to perform mathematical calculations quickly and efficiently. It offers several benefits and advantages over conventional mathematics.
</div>
<div class="heading why-heading">Why Vedic Maths</div>
<div class="why-vedic">
    <div class="why" *ngFor="let why of whyVedicMaths">
        <div class="reason">{{why.title}}</div>
        <div class="desc">{{why.desc}}</div>
    </div>
</div>
<div class = "info">
    Vedic mathematics can be a valuable addition to a student's mathematical toolkit, improving overall mathematical skills and problem-solving abilities. It can be a useful tool for mental math and can speed up calculations. It is often taught as an alternative method to conventional mathematics to improve calculation skills and mental agility.<br><br>
Vedic mathematics is based on 16 Sutras or formulae, which are concise and easily applicable in various mathematical operations such as addition, subtraction, multiplication, division, and algebraic equations. It consists of several techniques and principles that can be used to simplify and speed up mathematical calculations. 

</div>
<div class="heading why-heading">Some Examples</div>
<img src="assets/vedic-examples.jpg" class="examples">
<app-footer></app-footer>
