<div class="section-heading" [id]="section.anchor">{{section.title}}</div>
<!-- <div class="section-desc">{{section.desc}}</div> -->
<div class="section">

    <div class="class-tabs" [ngStyle]=" !isMobile ? {'height' : height + 'vw'} : {'margin-bottom' : '2vw'}">
        <button class="class-tab" *ngFor="let tab of section.tabs;let i = index" (click)="changeTab(i)">{{tab}}</button>
    </div>
    <div class="desc-tab">
        <div class="title-bar">
            <div class="tab-title">Course Program for <span *ngIf="isNumber(currentClass.grade)">Class
                </span>{{currentClass.grade}}</div><a *ngIf="!isMobile && currentClass.wsLink != undefined"class="class-tab ws" [href]="currentClass.wsLink">Sample Worksheet</a>
        </div>
        <div class="tab-desc">{{currentClass.description}}</div>
        <div class="buttons">
        <a *ngIf="isMobile && currentClass.wsLink != undefined" class="class-tab ws" [href]="currentClass.wsLink">Sample Worksheet</a>
        <a *ngIf="currentClass.grade == 10" class="class-tab ws" routerLink="/results">Check Our Results</a>
    </div>
    </div>
</div>